body {
    background-color: rgb(39, 57, 59);
}

a {
    background-color: none;
    margin-left: 30px;
    justify-content: left;
    color: white;

}

.statement {
    margin-right: 200px;
    width: 100%;
    height: 600px;
    background-image: url('image/pexels-bidvine-1249611.jpg');
}

.statement1 {
    font-size: 20px;
    color: white;
}

.statement2 {
    background-color: yellow;
    color: white;
    border: none;
}

.statement3 {
    text-align: center;
    color: white;
}


.statement4 {

    border: solid 2px;
    width: 100%;
    height: 200px;
    background-image: url('image/pexels-bidvine-1249611.jpg');
}

.statement5 {
    border: solid rgb(39 57 59);
    width: 650px;
    height: 200px;
    background-image: url('image/pexels-ono-kosuki-5974404.jpg');
}

.statement6 {

    color: black;
    border: solid rgb(39, 57, 59);
    width: 680px;
    height: 200px;
    background-image: url('image/pexels-ono-kosuki-5974396.jpg');
}

.statement6 {
    float: right;
}

.row {
    display: flex;

}


/* 
.column {
    flex: 33.33%;
    padding: 5px;
  }
  .row {
    display: flex;
  } */